/* 
header:#ffffff
hero:#f0f0f0
button:#000000
round button
full screen
 */

* {
    padding: 0 auto;
    margin: 0 auto;
}

html {
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
}

.header {
    background-color: #ffffff;
}

.container_header {
    margin-left: 20px;
}

.header_logo_img {
    width: 30px;
    height: 30px;
}

.hero {
    background-color: #f0f0f0;
    margin: 20px auto;
}

.hero_text {
    background-color: #ffffff;
    height: 230px;
    text-align: center;
}

.hero__title_text {
    font-size: 60px;
    margin: 90px 0 0 0;
}

.subtitle_text {
    font-size: 15px;
    margin: 15px 0 10px 0;
}

hr {
    width: 30%;
    margin: auto;
}

/* homepage button */
.container_button {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.menu_button {
    background-color: black;
    border-radius: 20px;
    color: white;
    width: 5rem;
    height: 2rem;
    border: none;
}

/* form in the center */
.form {
    display: block;
    text-align: center;
    margin-top: 20px;
}

.submit {
    background-color: black;
    border-radius: 20px;
    color: white;
    width: 5rem;
    height: 2rem;
    border: none;
}



.container {
    display: block;
    text-align: center;
}