* {
    padding: 0;
    margin: 0;
}

html {
    font-family:'Times New Roman', Times, serif;
}

.hero_text {
    margin: 0 auto;
    align-items: flex-start;
}

.menu {
    font-size: 20px;
    margin: 0 auto;
}

hr {
    width: 100%;
    margin:0 auto;
}

.container {
    max-width: 700px;
    margin: 0 auto;
    padding: 0 4rem;
    width: 100%;
}

h1 {
    display: flex;
    justify-content: flex-start;
}