<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"
/>
</head>
<header class="header">
<div class="container_header">
<span class="header_logo"><img class="header_logo_img" src="static/book_logo.png" alt="book logo"></span>
<span class="header_menu"><a class="header_menu" href="/books">Books</a></span>
</div>
</header>


    <section class="hero">
    <div class="container hero_wrapper">
    {% block content %}
        
    {% endblock content %}
    </div>
    </section>
</body>
</div>
</html>