{% extends 'base.jinja' %} {% block content %}
    <div class="hero_text">
    <h1 class="title_text">{{ title }}</h1>
    <h3 class="subtitle_text">Our most borrowed books this month.</h3>
    </div>
    <div class="form"></div>
    <form action="/books" method="POST">

    <label for="book_title" class="form-input">Book Title: </label>
    <input type="text" id="book_title" name="book_title" required>

    <label for="author" class="form-input">Author: </label>
    <input type="text" id="author" name="author">

    <label for="gengre" class="form-input">Genre: </label>
    <input type="text" id="genre" name="genre">

    <label for="checked_out" class="form-input">Available: </label>
    <input type="checkbox" id="checked_out" name="checked_out" value="Yes">

    <input class="submit" type="submit" value="Save">
    </form>
    {% for book in book_list %}
    <h3>{{ book.book_title }}</h3>
    <p><b>Author:</b> {{ book.author }}</p>
    <p><b>Genre:</b> {{ book.genre }}</p>
    <p><b>Available:</b> {{ book.checked_out }}</p>
    {% endfor %}
{% endblock content %}