{% extends 'base.jinja' %} {% block content %}
    <h1 class="title_text">{{ title }}</h1>
    <div class="form"></div>
    <form action="/books" method="POST">

    <label for="book_title" class="form-imput">Book Title: </label>
    <input type="text" id="book_title" name="book_title">

    <label for="author" class="form-imput">Author: </label>
    <input type="text" id="author" name="author">

    <label for="gengre" class="form-imput">Genre: </label>
    <input type="text" id="genre" name="genre">

    <input class="submit" type="submit" value="Save">
    </form>
    {% for book in book_list %}
    <h3>{{ book.book_title }}</h3>
    <p><b>Author:</b> {{ book.author }}</p>
    <p><b>Genre:</b> {{ book.genre }}</p>
    {% endfor %}
{% endblock content %}