{% extends 'base.jinja' %}
{% block content %}

    <h3>{{ title }}</h3>
    <p><b>Author: </b> {{ book.author }}</p>
    <p><b>Genre: </b> {{ book.genre }}</p> 
    <p><b>Available: </b> {{ book.checked_out }}</p> 
    {# <img src="" alt="{{ title }}">  #}

{% endblock content %}